node_modules/
tmpFrames/
assets
frames
front_end/tmpFrames/
uploads/
tmpfolder/
frame.png
colortest.txt
*.mov
.DS_Store

scriptgenerator/*.mp4
scriptgenerator/*.jpg
scriptgenerator/*.png

setupKeyboard/data/*.jpg
setupKeyboard/data/*.png
setupKeyboard/data/*.mp4